# Hugo default
public/
resources/
.hugo_build.lock

# OS X
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

# Node / NPM (if used later for pipes/tools)
node_modules/
package-lock.json
yarn.lock

# Logs
npm-debug.log*
yarn-debug.log*

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*~
